@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin:0;
    padding:0;
    font-family: 'Roboto';
    background: linear-gradient(rgba(255, 255, 220, 0.5), rgb(255,255,220,.5)) , url(design-space-paper-textured-background.jpg);

}

main{
    padding: 16px;
}

footer{
    padding: 24px;
    margin-top: 7em;
    background-color: #9e9485;
    position: sticky;

}

img{
    height: 200px;
    width: 200px;
}
img:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 10px 5px 5px gray;
}

img:active {
    transform: scale(1.2);
}

h1{
    color: green;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(146, 211, 255);
}

#tophead{
    text-decoration: none;
    color:white
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
#recipes-grid a {
    text-decoration: none;
    color: green
  }

tr:nth-child(even) {
    background-color: lightgray;
 }

.spicy{
    position:relative;
    display: inline-block;
}

.leaflabel {
    display:flex;
    position: absolute;
    left:170px;
    top: 410px;
    height:40px;


 }
.leaf {
       display:flex;
       flex-direction:row;
       justify-content:center;
       align-items:center;

       min-width:40px;
       max-width:40px;
       height:40px;
       border-radius:100%;

       background-color:white;
       color:green;
    }

.pepperlabel {
    display:flex;
    position: absolute;
    left:1112px;
    top: 410px;
    height:40px;


    }

.pepper {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    min-width:40px;
    max-width:40px;
    height:40px;
    border-radius:100%;

    background-color:white;
    color:red;
    }
